<ion-header class="bar bar-header transperent">
		<div class="btn-group">
			<button class="button button-icon icon ion-navicon dropdown-toggle"></button>
			<ul id="menu-profile" class="dropdown-menu" role="menu" style="left:-125px;">
				<li>
					<a href="#/whyKangaroo">Why Kangaroo</a>
				</li>
				<li>
					<a href="#/dayCare">Day Care</a>
				</li>
				<li>
					<a href="#/parents">Parents</a>
				</li>
				<li>
					<a href="#/whatWeDo">What We Do</a>
				</li>
				<li>
					<a href="#/signIn">Sign In</a>
				</li>
				<li>
					<a href="#/signUp">Sign Up</a>
				</li>
				<li>
                <a href="#/contactUs">Contact Us</a>
            </li>
				
			</ul>
		</div>
	</ion-header>
 <ion-content>
 Hello
</ion-content>
