<ion-header class="bar bar-header bar-balanced">
    <a href="#/settings" class="button icon-left ion-arrow-left-c button-clear "></a>
<h3 style="margin-left: 1%; line-height: 0px;">Change Password</h3>
</ion-header>
<div style="padding-top: 100px;"></div>
<div ng-controller="changePasswordController">
	<div class="padding input-group">
		<span class="input-group-addon">
            <i class="ion-locked" style="color: #fff;"></i>
        </span>
        <input type="password" ng-model="data.new_password" placeholder="New Password" class="form-control">
		<div style="clear: both"></div>
	</div>
	<div class="padding input-group">
		<span class="input-group-addon"><i class="ion-locked" style="color: #fff;"></i>
        </span>
        <input type="password" ng-model="data.confirm_password" placeholder="Confirm New Password" class="form-control">
		<div style="clear: both"></div>
	</div>
	<div align="center" class="padding">
		<button class="button button-violet" ng-click="changePassword(data)">Update</button>
	</div>
</div>