<div class="bar bar-header bar-balanced">
 <a href="#/signIn" class="ion-chevron-left" style="font-size: 35px;">
 </a>
</div>
<div class="clear"></div>
<h2>Daycare</h2>

<h3>Revenue Cycle Management- We Collect Every Dollar</h3>

			<p>
				Our team has great experience making collections automatic. We started in healthcare and began collecting for hospitals and Dr's Offices so that they could focus on the important things. We learned that we can leverage the software automation and the power of data to collect more efficiently and with greater success.
			</p>

			<p>
				The same principals hold true in childcare, and the added level of connection through the 'Parent App' makes the process more transparent. Your families will be more satisfied and will appreciate the professionalism of your center.
			</p>
            <h3>    Sign-In and Sign-Out</h3>       
<p>
When you need a ride you call Uber or Lyft. Our cell phones are amazing and create a great amount of luxury and automation for us. We saw the outdated 'sign-in/sign-out' pin pads and that most centers used pen and paper and knew we could change the game. We have optimized the application to accomplish the child exchange with one key stroke.
</p>

			<p>
				The patent pending parent application communicates directly with the 'center application' to assure that children are carefully accepted and released with the right intentions. The system keeps daily audit logs and can show times to the second.
			</p>

			<p>
				The Parent Application has a great 'Authorization' feature that allows parents to send an invitation to a Grandparent, Uncle, or Friend to pick up a child in a pinch. Kangarootime will authenticate the new profile and notify the center.
			</p>
           <h3> Messaging and Picture Sharing</h3>
<p>
A text here, and email there, a picture shared on the private Facebook page. This is confusing and extremely fragmented. The Kangarootime messaging backbone allows for all pictures, chats, and emails to stay in a single database. We have carefully designed the messaging engine to deliver discreet group messages and account for read receipts and message verification.
</p>

			<p>
				Picture sharing is safe and secure with no risk of exposing children to unwanted eyeballs.
			</p>
           <h3> Employee Management</h3>
<p>
Kangarootime will manage each employee profile. From hours to credentialing we will assist in keeping up to speed with your employees.
</p>
			<p>
				The internal messaging feature and calendar will be fixtures in each employees dashboard and will allow directors and owners to communicate initiatives.
			</p>
            <h3>Parents</h3>

			<p>
				We are making the childcare experience better for everyone! Especially parents! Creating an application that is carefully designed to enhance the connectivity between you and your childcare professional was critical, and the most important element for the Kangarootime team was building a beautiful and friendly experience.
			</p>

			<p>
				The design is second to none. Our team used the most modern framework that is being used by Uber, Amazon, Google and Apple, and meticulously scrutinized each screen and keystroke to assure that the application was perfect. We are proud to deliver an elegant user interface that allows you to see daily assessments immediately, pay automatically and allow friends and family to pick up your child with a simple in-app invitation.
			</p>

			<p>
				A great example of innovation provided by Kangarootime is the automated 'Sign-In and Sign-Out' feature that is triggered by wifi and geo-location recognition so that you simply pull out your phone and push one button. Simple, easy, and saves everybody time.
			</p>

		</div>