
<ion-header class="bar bar-header bar-balanced">
    <a href="#/billingMenus" class="button icon-left ion-arrow-left-c button-clear "></a>
    <h3 style="margin-left: 1%; line-height: 0px;">Invoices</h3>
</ion-header>
<div class="padding" ng-controller="listChildController">
	<ion-content class="content has-header ionic-pseudo">

	<h3 class="title">&nbsp;</h3>
        <!--"id":1,-->
        <!--"amount":"3190.35",-->
        <!--"paid":"0.0",-->
        <!--"previous_balance":"0.0",-->
        <!--"state":"approved",-->
        <!--"balance":"3190.35",-->
        <!--"date":"August 26 2016"-->
        <div class="row header">
            <div class="col_m1" style="width: 5%;">No</div>
            <div class="col_m1" style="width: 22%;">Amount</div>
            <div class="col_m1" style="width: 22%;">Paid</div>
            <div class="col_m1" style="width: 22%;">Previous Balance</div>
            <div class="col_m1" style="width:29%;">Date</div>
        </div>

        <div class="row row-border" ng-repeat="child in listChild" ng-click="clickInvoice(child)">
            <!--ng-click="clickChild(child)">-->
            <div class="col_m2" style="width: 5%;">{{$index+1}}</div>
            <div class="col_m2" style="width: 22%;">{{child.amount}}</div>
            <div class="col_m2" style="width: 22%;">{{child.paid}}</div>
            <div class="col_m2" style="width: 22%;">{{child.previous_balance}}</div>
            <div class="col_m2" style="width: 29%;">{{child.date}}</div>
        </div>
	</ion-content>
</div>
