
<ion-header class="bar bar-header bar-balanced"> <a
	href="#/billingMenus"
	class="button icon-left ion-arrow-left-c button-clear "
></a>
<h3 style="margin-left: 1%; line-height: 0px;">Paid Amount</h3>
</ion-header>
<div class="padding" ng-controller="paidAmountController">
	<ion-content class="content has-header ionic-pseudo">

	<h3 class="title">&nbsp;</h3>

	<div class="row header" style="color:rgb(126, 12, 110);">
		<div class="col" style="width: 60%;">Amount</div>
		<div class="col">Date</div>
        <div class="col" style="width: 50%;">Type</div>
	</div>
	<div class="row header" ng-show="noData">
		<h3>{{message}}</h3>
	</div>
	<div class="row" ng-repeat="transection in AllTransection">
		<div class="col" style="width: 60%;">{{transection.amount}}</div>
		<div class="col">{{transection.date}}</div>
        <div class="col" style="width: 50%;">{{transection.type}}</div>
	</div>
    </ion-content>

</div>
