<ion-header class="bar bar-header bar-balanced">
  <a href="#/settings" class="button icon-left ion-arrow-left-c button-clear"></a>
  <h3 style="margin-left: 1%; line-height: 0px;">Edit Guardian Privileges</h3>
</ion-header>
<div class="padding">
  <ion-content class="content has-header ionic-pseudo" ng-controller="SetPrivilegeController">
    <div ng-repeat="guardian in guardians">
      <div class="row">
        <div class="col">
          <a align="left" style="border: none;" class="item item-avatars">
            <img ng-src="{{guardian.image}}">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <h2 style="font-size: 18px;" class="ng-binding">
              <b>{{guardian.username}}</b>
            </h2>
          </div>
        </div>
        <div class="col">
          <div>
            <h2 style="font-size: 18px;" class="ng-binding">
              <b>Status: <span>{{guardian.active}}</span></b>
            </h2>
          </div>
        </div>
      </div>
      <div class="hr" style="margin-top: -20px;"></div>
      <div class="row">
        <div class="col">
          <div class="col">
            <div class="row">
              <div class="col">
                <ion-checkbox name="" type="checkbox" value="" ng-checked="guardian.messages"
                  ng-change="onChange(guardian, 'messages', guardians[$index].messages)" ng-model="guardian.messages">
                  Messages
                </ion-checkbox>
              </div>
              <div class="col">
                <ion-checkbox name="" type="checkbox" value="" ng-checked="guardian.calendar"
                  ng-change="onChange(guardian, 'calendar', guardian.calendar)" ng-model="guardian.calendar"
                  ng-model="data.Calendar">
                  Calendar
                </ion-checkbox>
              </div>
              <div class="col">
                <ion-checkbox name="" type="checkbox" value="" ng-checked="guardian.gallery"
                ng-change="onChange(guardian, 'gallery', guardian.gallery)" ng-model="guardian.gallery"
                ng-model="data.Gallery">
                  Gallery
                </ion-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ion-list class="children-privileges">
        <ion-item ng-repeat="child_privilege in guardian.children_privileges">
          <div class="row">
            <div class="col col-20">
              <ion-avatar item-left>
                <img ng-src="{{child_privilege.img_src}}" class="item-avatar-small"/>
              </ion-avatar>
              <h2 class="child-privilege-name">{{child_privilege.first_name}}</h2>
            </div>
            <div class="col">
              <ion-checkbox name="" type="checkbox" value="" ng-checked="child_privilege.assessments"
              ng-change="onChange(guardian, 'assessments', child_privilege.assessments, child_privilege.child_id)" ng-model="child_privilege.assessments">
                Notes
              </ion-checkbox>
              <ion-checkbox name="" type="checkbox" value="" ng-checked="child_privilege.check_in_out"
              ng-change="onChange(guardian, 'check_in_out', child_privilege.check_in_out, child_privilege.child_id)" ng-model="child_privilege.check_in_out">
                CheckIn
              </ion-checkbox>
            </div>
            <div class="col">
              <ion-checkbox name="" type="checkbox" value="" ng-checked="child_privilege.billing"
              ng-change="onChange(guardian, 'billing', child_privilege.billing, child_privilege.child_id)" ng-model="child_privilege.billing">
                Billing
              </ion-checkbox>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
    <div align="center" class="padding" ng-show="showEmptyText">
      <h3>No other Guardian is Present</h3>
    </div>
  </ion-content>
</div>
