<div class="bar bar-header bar-balanced">
 <a href="#/signIn" class="ion-chevron-left" style="font-size: 35px;">
 </a>
</div>
<div class="clear"></div>
<h2>What We Do</h2>
<div class="listing">
<h3>Our Application (Parent and Center)</h3>
<ul>
<li><span>Instant account set-up (5 Minute Sign Up)</span></li>
<li><span>No merchant account needed</span></li>
<li><span>No set-up fee or monthly charge to center</span></li>
<li><span>Fixed credit card processing fee</span></li>
<li><span>In-App Statements and Bills (Emails too)</span></li>
<li><span>Split payments (example: divorced parents)</span></li>
<li><span>Customized invoices (Your Logo and Header)</span></li>
<li><span>Photo capture of check for deposit</span></li>
<li><span>Mobile invoices</span></li>
<li><span>Mobile payments for parents</span></li>
</ul>
<h3>Devices and Freebies</h3>
<ul>
<li><span>Full mobile and laptop accessibility</span></li>
<li><span>Mac accessibility</span></li>
<li><span>Free sign-in / sign-out kiosk (Windows 8 Tablet)</span></li>
<li><span>Free Windows 8 Tablets</span></li>
<li><span>Free classroom devices (iPad Minis, Windows and Android Tablets)</span></li>
<li><span>Free replacement tablets and devices if broken</span></li>
<li><span>Free in-person setup, training, and ongoing support upon request</span></li>
</ul>
<h3>Sign-in and Sign-Out</h3>
<ul>
<li><span>Electronic Authentication</span></li>
<li><span>Electronic record keeping</span></li>
<li><span>Mobile app sign-in (children)</span></li>
<li><span>Mobile app sign-out (children)</span></li>
<li><span>Sign-in/sign-out Messaging and Surveys</span></li>
<li><span>Alert when a child is absent</span></li>
</ul>
<h3>Enrollment</h3>
<ul>
<li><span>New family addition</span></li>
<li><span>Standard enrollment forms</span></li>
<li><span>Online or in-tablet enrollments, not just entered by staff</span></li>
<li><span>Custom enrollment and inquiry fields and forms</span></li>
<li><span>Enrollment status tracking</span></li>
<li><span>Waitlist priority</span></li>
<li><span>Communication updates to parents on the waitlist</span></li>
<li><span>Billing</span></li>
<li><span>Attendance</span></li>
<li><span>Contact info</span></li>
<li><span>Electronic storage of signed parent document images</span></li>
<li><span>Child birthday alerts and calendar reminders</span></li>
</ul>
<h3>Employee Management</h3>
<ul>
<li><span>Attendance</span></li>
<li><span>Clock-in</span></li>
<li><span>Clock-out</span></li>
<li><span>Staff alerts-Late, Absent</span></li>
<li><span>Messaging</span></li>
</ul>
<h3>World Class Support</h3>
<ul>
<li><span>24/7 Support</span></li>
<li><span>Transcription and recording of every phone interaction</span></li>
<li><span>Complete collections to parents missing a payment</span></li>
</ul>
<h3>Reports</h3>
<ul>
<li><span>Simple to build customized reports</span></li>
<li><span>Reporting Dashboard for 'Canned Reports'</span></li>
<li><span>Access to every single data point in the system, and easy to manage reporting module</span></li>
</ul>
<h3>Accounting</h3>
<ul>
<li><span>Basic accounts receivable and accounts payable</span></li>
<li><span>Subsidy management</span></li>
<li><span>Integration with advance accounting software</span></li>
 </ul>
</div>

