<div class="bar bar-header bar-balanced">
 <a href="#/signIn" class="ion-chevron-left" style="font-size: 35px;">
 </a>
</div>
<div class="clear"></div>
<h3>100% Paperless</h3>

			<p>
				Paper is slow, expensive and a pain to keep track of. We have digitized the enrollment process, payment and all record keeping. We will keep every bit of information in the cloud and allow centers to just send a simple link with minimal instructions and we will take care of the rest.
			</p>

			<p>
				Every parent will simply enter all of their information as they download the Kangarootime 'Parent App'. Parents can load critical documents by taking pictures of them and uploading.
			</p>

			<p>
				Centers can onboard just as easily by downloading the application and moving through the 'sign up' process.
			</p>
            <p></p>
            <h2>Connectivity</h2>

			<p>
				Keeping parents connected to teachers, directors and center owners is the highest priority at Kangarootime. We enable 'real time' messaging and chat to keep everybody on the same page. Not only do we facilitate all of the messaging and keep in safe and encrypted, we also make it very simple to keep up with calendars, permission slips, important announcements and important documents that might be out of date or due.
			</p>
            <p></p>
            <h2>Grow your Daycare</h2>

			<p>
				Our parent portal and parent mobile application provides a world class communication method and gives your business the ultimate polish. Our competitors have management software for your center but do close the loop. We provide a completely connected experience like 'Uber' and our competitors have a one sided model like the traditional 'Taxi Cab'.
			</p>
             <p></p>
            <h2>We Collect Every Dollar</h2>

			<p>
				We partner with centers and partner with families. Parents will receive timely statements with amounts and notifications about when payments will be drafted. Our credit card processing standard guarantees allows parents to pay with credit cards or their checking account and the parent application will provide immediate feedback and an invoice. 
			</p>
            <p></p>
            <h2>We are here for Parents! Create Clarity</h2>

			<p>
				Notification will be sent to the parent app when needed to assure that there are no conflicts or misunderstandings with contracts or 'days off'. Kangarootime has 'real time' feedback that will keep parents informed of overtime and fees that might come as a surprise later. Our application has been designed to carefully deliver transparency and understanding.
			</p>
          <p></p>
          <div style="text-align:center;">
            <h1>$0 Upfront Fees!</h1>
			<p>We are able to make the business work by partnering with the banks and credit card companies. We will supply the daycare center with tablets and set up everything for no charge! </p>
            </div>
		</div>
        
